body {
    background-color: #A99EC9;
  }
.b1{
    border-radius: 30px;
}
.register-area{
    border: none;
    background-color: rgb(255, 250, 243);
}
::placeholder{
    font-size: 14px;
}
.forgot{
    text-decoration: none;
    color: black;
}